<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Job listing site in the Philippines? It combines the words Job and Philippines">
        <meta name="author" content="Jesther Costinar">
        <title>JobPhilia | Home</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

        <!-- Bootstrap core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Custom styles for this template-->
        <script src="//cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<!--        <script th:src="@{/webjars/ckeditor/ckeditor.js}"></script>-->

        <style>
              .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
              }

              @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                  font-size: 3.5rem;
                }
              }
    </style>

</head>
<body>

<div class="container" th:fragment="header">
        <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Job listing site in the Philippines? It combines the words Job and Philippines.
                                Discover Your Dream Job with JobPhilia: Unleashing Opportunities, Empowering Careers
                        </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                                <li><a href="https://github.com/JestherCostinar" class="text-white">Follow on Github</a></li>
                                <li><a href="https://github.com/JestherCostinar" class="text-white">Like on Facebook</a></li>
                                <li><a href="mailto:jesther.jc15@gmail.com" class="text-white">Email me</a></li>
                        </ul>
                </div>
        </div>
</div>

<!-- fixed-top -->
<div class="navbar navbar-dark  bg-dark shadow-sm" th:fragment="navbar">
        <div class="container">
                <a href="/" class="navbar-brand d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                        <strong>JobPhilia</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
        </div>
</div>

<footer class="text-muted py-5" th:fragment="footer">
        <div class="container">
                <p class="float-end mb-1">
                        <a href="#">Back to top</a>
                </p>
                <p class="mb-1">&copy; 2023 JESTHER COSTINAR. All Right Reserved</p>
                <p class="mb-0">Discover Your Dream Job with JobPhilia: Unleashing Opportunities, Empowering Careers</p>
                <div sec:authorize="isAuthenticated()">
                        <a class="navbar-brand" th:href="@{/logout}">Logout</a>
                </div>
        </div>
</footer>
</body>
</html>