<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/fragments :: head}">
</head>
<body>
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div th:replace="~{common/fragments :: header}"></div>
  </div>
  <div th:replace="~{common/fragments :: navbar}"></div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">"Empower Your Career"</h1>
        <p class="lead text-muted">Discover Your Dream Job with JobPhilia: Unleashing Opportunities, Empowering Careers</p>
        <p>
          <a href="#job-section" class="btn btn-primary my-2">Find a Job</a>
          <a th:href="@{/login}" class="btn btn-secondary my-2">Login</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light" id="job-section">
    <div class="container">
      <div class="row justify-content-end mb-3">
        <div class="col-auto">
          <a th:href="@{/job/create}" class="btn btn-primary">Post a job</a>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="job : ${jobs}">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h5 th:text="${job.name}"></h5>
              <p class="card-text" th:utext="${#strings.length(job.description) > 120 ? #strings.substring(job.description, 0, 120) + '...' : job.description}"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a th:href="@{job/{id}(id=${job.id})}" class="btn btn-sm btn-outline-secondary">View</a>
                  <a th:href="@{job/{id}/edit(id=${job.id})}" class="btn btn-sm btn-outline-secondary">Edit</a>
                </div>
                <small class="text-muted" th:text="'PHP ' + ${job.salary}"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer th:replace="~{common/fragments :: footer}"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
